<%- include('partials/header.ejs') %>

<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1>About Me</h1>
        <p>Hello! I'm Cat, an aspiring software engineer with a passion for coding and all things tech. My journey into the world of computer science started at a young age, and ever since, I've been captivated by the endless possibilities that technology offers.</p>
        <p>When I'm not immersed in lines of code, you can find me enjoying a game of soccer or basketball. The thrill of the game and the camaraderie on the field or court are experiences I cherish deeply. Besides sports, I'm an avid gamer, always on the lookout for the next exciting adventure in the virtual world.</p>
        <p>As a computer science nerd, I love exploring new technologies, solving complex problems, and continuously learning to stay ahead in this ever-evolving field. Whether it's building a new project, debugging code, or simply discussing tech trends, I'm always eager to dive in and engage with the community</p>
        <p>Welcome to my blog! Here, you'll find a collection of articles on various topics that interest me, from coding tutorials to tech reviews and more. Let's embark on this journey together and explore the fascinating world of technology.</p>
        <p>Feel free to reach out – I'm always up for a chat about code, sports, or the latest gaming trends!</p>
        <h3>Contact Information</h3>
        <ul class="list-unstyled">
          <li>Email: huynhngocnguyencat@gmail.com</li>
          <li>Phone: +1(651)-424-5473</li>
          <li>Location: Los Angeles, CA</li>
        </ul>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/authors/cat.jpeg" class="img-fluid rounded" alt="Your Image">
      </div>
    </div>
  </div>

<%- include('partials/footer.ejs') %>
</body>
</html>
